/* 📌 Estilos de cada post según su tipo */
.post-writeup {
    border-left: 4px solid #28a745; /* Verde */
}

.post-anuncio {
    border-left: 4px solid #ff7300; /* Naranja */
}

.post-video {
    border-left: 4px solid #dc3545; /* Rojo */
}

.post-morado { 
    border-left: 4px solid #10abda; 
}

/* 📌 Estilos del rectángulo pequeño para el tipo de post */
.post-tipo {
    display: inline-block;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Colores según el tipo */
.post-writeup .post-tipo {
    background-color: rgba(40, 167, 69, 0.2); /* Verde suave */
    color: #28a745;
}

.post-anuncio .post-tipo {
    background-color: rgba(255, 152, 0, 0.2); /* Naranja suave */
    color: #ff7300;
}

.post-video .post-tipo {
    background-color: rgba(220, 53, 69, 0.2); /* Rojo suave */
    color: #dc3545;
}

.post-morado .post-tipo {  
    background-color: #0d4050;
    color: #10abda;
}